@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@layer base {
  h1 {
    @apply font-normal !important;
  }

  h2 {
    @apply font-normal py-2 !important;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-stone-200 dark:border-stone-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

html.light > body.bg-ibis {
  background: url('/static/images/wood_ibis.png') no-repeat;
  background-position: bottom 1vw right 20vw;
  background-size: 8vw;
}

html.dark > body.bg-ibis {
  background: url('/static/images/wood_ibis_white.png') no-repeat, var(--);
  background-position: bottom 1vw right 20vw;
  background-size: 8vw;
}
